@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <img src="~/Content/maxresdefault (1).jpg" alt="resme alternatif yazı" width="10">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem; margin-left: 15px">
        <div class="card-header">Öğrenci Paneli</div>
        <div class="card-body">
            <h4 class="card-title"><a class="btn btn-default" href="/Ogrenci/Index/">Öğrenci Paneline Git &raquo;</a></h4>
            <p class="card-text">
                Öğrenci ile ilgili kayıtları listeleme, yeni öğrenci ekleme, mevcut öğrenciyi silme veya seçilen öğrenci üzerinde
                güncelleme yapmak için butona tıklayabilirsiniz
            </p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem; margin-left: 73px">
        <div class="card-header">Yönetim Panel</div>
        <div class="card-body">
            <h4 class="card-title"><a class="btn btn-default" href="/OkulYonetim/Index/">Yönetim Paneline Git &raquo;</a></h4>
            <p class="card-text">
                Yönetici ile ilgili yönetici kayıtlarını listeleme, yeni bir yönetici ekleme, mevcut yöneticiyi silme veya seçilen
                yönetici üzerinde güncelleme yapmak için butona tıklayabilirsiniz.
            </p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem; margin-left: 73px">
        <div class="card-header">Ders Paneli</div>
        <div class="card-body">
            <h4 class="card-title"><a class="btn btn-default" href="/Ders/Index/">Ders Paneline Git &raquo;</a></h4>
            <p class="card-text">
                Derslerle ilgili ders kayıtlarını listeleme, yeni bir ders ekleme, mevcut dersi silme veya seçilen ders üzerinde
                güncelleme yapmak için butona tıklayabilirsiniz.
            </p>
        </div>
    </div>
</div>
<div class="center">
    <style>
        .center {
            margin: auto;
            width: 50%;

            padding: 10px;
        }
    </style>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;margin-left: 100px">
    <div class="card-header">Öğrenci-Ders Paneli</div>
    <div class="card-body">
        <h4 class="card-title"><a class="btn btn-default" href="/OgrenciDers/Index/">Öğrenci-Ders Paneline Git &raquo;</a></h4>
        <p class="card-text">
            Öğrenci-Ders ile ilgili kayıtları listeleme, yeni bir kayıt ekleme, mevcut kaydı silme veya seçilen kayıt üzerinde
            güncelleme yapmak için butona tıklayabilirsiniz.
        </p>
    </div>
</div>
</div>
