@using WebProje.Models
@model List<OgrenciDers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OgrenciDersLayout.cshtml";
}

@using (Html.BeginForm("Index", "OgrenciDers", FormMethod.Get))
            {
                <p>
                    <b>Aramak istediğiniz Ders:</b> @Html.TextBox("p")
                    <input type="submit" value="ARA" />
                </p>
            }

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ders ID</th>
        <th>Öğrenci ID</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.ID</td>
                    <td>@x.Ders.DersAdi</td>
                    <td>@x.Ogrenci.OgrenciAdiSoyadi</td>
                    <td><a href="/OgrenciDers/OgrenciDersSil/@x.ID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/OgrenciDers/OgrenciDersGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
                </tr>
            }
</table>
<a href="/OgrenciDers/OgrenciDersEkle/" class="btn btn-primary">Yeni Öğrenci Dersi</a>
